<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TKB自己紹介</title>
  <link rel="stylesheet" href="./style.css" type="text/css">
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>
<body>
    <div id="app">
        <router-link to="/"> TOP PAGE</router-link>
        <router-link to="/users"> MY PRODUCT PAGE</router-link>
        <router-link :to="{name: 'user', params: {userId:1}}"> USER SPECIFIC PAGE</router-link>
        <router-view></router-view>
    </div>


  <!-- Vue tutorial -->
  <script type="text/x-template" id="home">
  <div class="background_cover">
    <p><a href="https://qiita.com/MokeeeMokeee/items/4b33691b829aaf119bbf">モケさんのサイト</a>を参考にgithub.ioでウェブページ作成してみました。</p>
    <h1>Who am I ???</h1>
    <h2>自己紹介</h2>
    <p>name:田久保　純平<br>
       <!-- nickname: Moke(もけ)<br> -->
       age: 28歳
      </p>
    <h2>データベース</h2>
    <p>Job: データ分析<br>
        skill: Python, , etc...<br>
        hobby: 漫画をよく読みます。chess<br>
        </p>
    <h2>やりたい事</h2>
    <p>
        IoTプログラミング / Deep learning実装
    </p>
    <h2> 勉強したい事</h2>
        <p>
            GO言語：https://go-tour-jp.appspot.com/welcome/1
        </p>
    <h2>link</h2>
    <p>
      <a href="https://twitter.com/j_takurou">twitter</a>
    </p>
    <p>
      <a href="https://github.com/Jumpo-523">github</a>
    </p>
    <p>
      <a href="https://qiita.com/j_takurou">qitta</a>
    </p>
 
  </div>
</script>
<script type="text/x-template" id="user-list">
    <div class="background_cover">ユーザー一覧ページです。
        <div class="loading" v-if="loading">Loading...</div>
        <div class="error" v-if="error">{{ error }} </div>
        <div v-for="user in users" :key="user.id">
            <h2>{{ user.name }}</h2>
        </div>
    </div>

</script>

<script type="text/x-template" id="user-detail">
    <div class="background_cover">
        <div class="loading" v-if="loading">Loading...</div>
        <div class="error" v-if="error">{{ error }} </div>
        <div v-if="user">
            <h2>{{ user.name }}</h2>
            <p>{{ user.description }}</p>
            <a v-bind:href="user.url"> Link</a>
        </div>
    </div>
</script>

<script>
      var userData = [
                  {
                      id: 1,
                      name: 'DSB competition.',
                      description: "kaggle 2019 DSB コンペで59位だったコード群です。",
                    //   linkをどう貼り付けるか
                      url: 'https://github.com/Jumpo-523/DSB2019_kaggle'
                  },
                  {
                      id: 2,
                      name: 'IoT　product',
                      description: "raspberry piと通信して収集したデータを元に可視化するweb applicationです。（TBD）",
                      url: 'https://github.com/Jumpo-523/rasPi_products'

                  },
              ]
    var getUsers = function (callback){
          setTimeout(function(){
              callback(null, userData)
          }, 1000)
      }
    
    var getUser = function (userId, callback){
          setTimeout(function(){
              var filteredUsers = userData.filter(function (user){
                  return user.id === parseInt(userId, 10)
              })
              callback(null, filteredUsers && filteredUsers[0])
          }, 1000)
      }
    var home = {
        template:'#home'
    }
      var userDetail = {
          template: '#user-detail',
          data: function (){
              return {
                  loading: false,
                  user: null,
                  error: null
              }
          },
          created: function () {
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function(){
                this.loading = true
                getUser(this.$route.params.userId, (function (err, user) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    }else{
                        this.user = user
                    }
                    // console.log(this)
                }).bind(this))
            }
        }
      }
      var UserList = {
        //   HTML上のscriptタグのidを指定する。
        template: "#user-list",
        data: function(){
            return {
                loading: false,
                users: function (){ return []},
                error: null
            }},
        created: function () {
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function(){
                this.loading = true
                getUsers((function (err, users) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    }else{
                        this.users = users
                    }
                    console.log(this)
                }).bind(this))
            }
        }
      }
      var router = new VueRouter({
          routes: [
              {
                  path: '/',
                  component: home
              },
              {
                  path: '/users',
                  component: UserList,
                  beforeEnter: function (to, from, next) {
                    //   "/users?redirect=true"
                    if (to.query.redirect === 'true'){
                        next('/top')
                    }else{
                        next()
                    }
                  }
              },
// latest_products
              {
                  path: '/user/:userId',
                  name: 'user',
                  component: userDetail
              }

          ]
      })
    // Instead of :to="{name: 'user', params: {userId:123}}"
    //   router.push({name:"user", params:{nameId:1}})
    // router.beforeEach(function (to, from, next){
    //     // if user specific will be accessed, then redirect to top.
    //     if (to.path === "/products"){
    //         alert("This is a test for hook function")
    //         next('/top')
    //     }else {
    //         next()
    //     }
    // })

    // var UserList = {
    //     template: '#user-list', //html上で<div id="user-list"></div>を用意するだけではいけない模様
    //     data: function () {
    //         return {
    //             users: function () { return []},
    //             error: null
    //         }
    //     },
    //     // beforeRouteEnter method will be called before components are initialized after pagination. 
    //     beforeRouteEnter: function (to, from, next) {
    //         getUsers((function (err, users){
    //             if (err) {
    //                 this.error = errr.toString()
    //             }else {
    //                 // nextに渡すcallbackでコンポーネント自身にアクセス可
    //                 next(function (vm){
    //                     vm.users =users
    //                 })
    //             }
    //         }).bind(this))
    //     }
    // }

      var app = new Vue({
          router: router
      }).$mount('#app')
  </script>
</body>
</html>