

html {
    font: "Droid Sans", sans-serif;
}
.header {
    padding: 25px 0;
    border-bottom: none;
    height: 10px;
    text-align: center;                                                 
    background: #bbb;
    color: #fff;
  }
